@{
    ViewData["Title"] = "ConfirmEmailSent";
    Layout = "~/Views/Shared/LayoutSecure.cshtml";
}

<h2 class="text-center">Email xác nhận đã được gửi</h2>
<p>Vui lòng kiểm tra email của bạn và làm theo hướng dẫn để xác nhận địa chỉ email.</p>
