@{
    ViewData["Title"] = "ConfirmEmailSuccess";
    Layout = "~/Views/Shared/LayoutSecure.cshtml";
}
    <h2>Xác nhận email thành công</h2>
    <p>Chúc mừng! Địa chỉ email của bạn đã được xác nhận thành công.</p>
    <span>Bây giờ bạn có thể đăng nhập <a asp-controller="Account" asp-action="Login">Tại đây</a></span>

