
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/LayoutSecure.cshtml";
}

<h1>Bạn đã reset pass thành công <a asp-controller="Account" asp-action="Login"> Đăng nhập tại đây</a></h1>

