<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login | Bootstrap Simple Admin Template</title>
    <link href="~/BE/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/BE/css/auth.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        @RenderBody()
    </div>
    <script src="~/BE/vendor/jquery/jquery.min.js"></script>
    <script src="~/BE/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>