<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ashion Template" />
    <meta name="keywords" content="Ashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ecommerce</title>
    <link rel="icon" type="image/png" sizes="16x16"
    
          href="~/FE/img/Remove-bg.ai_1718535780539.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/FE/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/FE/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/FE/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/FE/css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="~/FE/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="~/FE/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="~/FE/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="~/FE/css/style.css" type="text/css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/~/FE/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/FE/owlcarousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet"
          href="~/FE/owlcarousel/assets/owl.theme.default.min.css" />
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li>
                <a href="#">
                    <span class="icon_heart_alt"></span>
                    <div class="tip">2</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon_bag_alt"></span>
                    <div class="tip">2</div>
                </a>
            </li>
        </ul>
        <div class="offcanvas__logo">
            <a asp-action="Index" asp-controller="Home"><img src="~/FE/img/logo.png" alt="" /></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header bg-header">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-xl-2 col-lg-2">
                    <div class="header__logo">
                        <a asp-action="Index" asp-controller="Home">
                            <img src="~/FE/img/Remove-bg.ai_1718535780539.png"
                                 alt=""
                                 class="logo_header_img" />
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control form-control-search"
                                   placeholder="Tìm kiếm sản phẩm..." />
                            <div class="input-group-append">
                                <button class="btn custom-border border-light" type="submit">
                                    <span class="icon_search search-switch"></span>
                                </button>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <div class="header__right__auth">
                            <p class="">
                                <a href="#">Đăng ký</a>
                                <a href="#">Đăng nhập</a>
                            </p>
                        </div>
                        <ul class="header__right__widget">
                            <li>
                                <a href="#">
                                    <span class="icon_cart_alt"></span>
                                    <div class="tip">2</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    @RenderBody()

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="img/logo.png" alt="" /></a>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt cilisis.
                        </p>
                        <div class="footer__payment">
                            <a href="#"><img src="img/payment/payment-1.png" alt="" /></a>
                            <a href="#"><img src="img/payment/payment-2.png" alt="" /></a>
                            <a href="#"><img src="img/payment/payment-3.png" alt="" /></a>
                            <a href="#"><img src="img/payment/payment-4.png" alt="" /></a>
                            <a href="#"><img src="img/payment/payment-5.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>NEWSLETTER</h6>
                        <form action="#">
                            <input type="text" placeholder="Email" />
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved | This template is made with
                            <i class="fa fa-heart" aria-hidden="true"></i> by
                            <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here....." />
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="~/FE/js/jquery-3.3.1.min.js"></script>
    <script src="~/FE/js/bootstrap.min.js"></script>
    <script src="~/FE/js/jquery.magnific-popup.min.js"></script>
    <script src="~/FE/js/jquery-ui.min.js"></script>
    <script src="~/FE/js/mixitup.min.js"></script>
    <script src="~/FE/js/jquery.countdown.min.js"></script>
    <script src="~/FE/js/jquery.slicknav.js"></script>
    <script src="~/FE/js/owl.carousel.min.js"></script>
    <script src="~/FE/js/jquery.nicescroll.min.js"></script>
    <script src="~/FE/js/main.js"></script>
    <!-- <script src="jquery.min.js"></script> -->
    <script src="~/FE/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/FE/js/owlcarousel.js"></script>
</body>
</html>
