
@model Ecommerce.Areas.System.Components.NavigationMenuViewModel


@if (Model.IsAdmin || Model.IsAccountManager)
    {
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="fa fa-user mr-2"></i>
                <span class="nav-text">Quản lý tài khoản</span>
            </a>
            <ul aria-expanded="false">
                <li><a asp-action="Index" asp-controller="AccountManagement">Danh sách tài khoản</a></li>
                <li><a asp-controller="Role" asp-action="Index">Phân quyền</a></li>
            </ul>
        </li>
    }

    @if (Model.IsProductManager || Model.IsAdmin)
    {
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="mr-2 fa fa-list"></i>
                <span class="nav-text">Danh sách sản phẩm</span>
            </a>
            <ul aria-expanded="false">
                <li><a asp-controller="Category" asp-action="Index">Danh mục</a></li>
                <li><a asp-controller="Product" asp-action="Index">Sản phẩm</a></li>
            </ul>
        </li>
    }

