
@model IEnumerable<Ecommerce.Models.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/System/Views/Layout/Admin.cshtml";
}
<div class="content-body">
    @{
        var errorMessage = TempData["ErrorMessage"] as string;
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger">
            @errorMessage
        </div>
    }
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Hi, welcome !</h4>
                            
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">

                    <a asp-action="add_category" class="btn btn-rounded btn-info">
                        <span class="btn-icon-left text-info"><i class="fa fa-plus color-info"></i>
                                    </span>Tạo mới</a>
                        </ol>
                    </div>
                </div>
        

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Danh mục</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example" class="display" style="min-width: 845px; color:black;">
                                        <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên danh mục</th>
                                        <th>Hình ảnh</th>
                                       
                                        <th></th>
                                    </tr>

                                        </thead>
                                        <tbody>
                                         @foreach (var item in Model)
                                    {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.Name</td>
                                                <td><img width="70" src="~/imgs/imgCategory/@item.Image" /></td>
                                         
                                                
                                                
                                               @*  <td>
                                                    
                                                <span
                                                    style="font-weight:bold; border: 2px solid #0f994b; padding: 2px 5px; color: #0f994b;">Mở</span>
                                               
                                                <span
                                                    style="font-weight:bold; border: 2px solid #df2a3c; padding: 2px 5px; color: #df2a3c;">Khóa
                                                </span>
                                                
                                                </td> *@
                                                <td>
                                                <a asp-controller="category" asp-action="edit" asp-route-id="@item.Id"  class="btn "> <i class="fa fa-pencil" style="color: green; font-size:13px;"></i></a>
                                                <a asp-controller="category" asp-action="delete" asp-route-id="@item.Id" class="btn "><i class="fa fa-trash " style="color: red; font-size:13px;"></i></a>

                                                </td>
                                            </tr>
                                    }

                                        </tbody>
                                       
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>



